@charset "utf-8";
/* UK Green Party - Created by Steven Tew
----------------------------------------------------------------
[Table of contents]

 0.General styles
 	body
	reset
	links
	headings
	other elements
 1.helper styles
 	forms
	notifications and errors
	consistent items with mormally jsut one class
 2.page structure
 3.page components
 4.overrides
*/

/*-------------------------------------------    
    2. page structure
-------------------------------------------*/
div#hd { height: 151px; }
div#mast h1 a { bottom: -1px; }

div#pri, div#sec, div#ter { display: inline; }

/* 3. page components */
/*-------------------------------------------    
    Header
------------------------------------------- */
#utility-nav li { height: 1%; display: inline; } 
	#utility-nav li a { margin-bottom: 8px; }


.block .view-Resources td { width: 140px; }
.block .view-Events td { width: 140px; }

div#sub-nav { height: 23px; }
div#sub-nav h3 { display: inline; background-image: url(images/bg-subnav-title.gif); } 
div#sub-nav div.content,
div#sub-nav div.content div,
div#sub-nav ul,
div#sub-nav ul li { display: inline; }
