@charset "utf-8";

/* MM added this */

/* remove 'reply' link from comments.
   why? in forums, we want people to comment on the forum topic node, rather than the comment
   this will also apply to any other type of comment in the system */

ul.links li.comment_reply {
  display: none;
}

#user-login-form {
  text-align: left;
}

#user-login-form input.form-text{
  width: 90%;
}

#user-login-form li {
  list-style-type: none;
  margin-left: 0;
  padding-left 0;
  margin-top:0.5em;
}

#block-block-9 h3 {
  font-size: 150%;
  margin: 0;
  padding: 0;
}

.view-front-page{
  display: none;
}
/* UK Green Party - Created by Steven Tew
----------------------------------------------------------------
[Table of contents]

 0.General styles
 	body
	reset
	links
	headings
	other elements
 1.helper styles
 	forms
	notifications and errors
	consistent items with mormally jsut one class
 2.page structure
 3.page components
 4.overrides
*/


/* --- 0.General styles --- */
body {
	background:#fff;
	color:#666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:75%;
	line-height:1.5;
	margin:0;
	padding:0;
	text-align:center;
	vertical-align:baseline;
}
/* --- reset --- */
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
ol, ul {
	list-style: disc inside none;
}

ol {
	list-style-type: decimal;
}

blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
/* remember to define focus styles! */
:focus {
	outline:0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse:collapse;
	border-spacing:0;
}
ul.links .first { padding-left: 0; }

/* --- links --- */
a, a:link, a:hover, a:visited, a:focus, a:active {
	color:#639523;
	text-decoration:none;
}
a:hover, a:focus, a:active {
	text-decoration:underline;
}
/* --- headings --- */

/*h1, h2, h3, h4, h5, h6 {
	color:#111;
	font-weight:normal;
}
h1 {
	font-size:3em;
	line-height:1em;
	margin-bottom:.5em;
}
h2 {
	font-size:2em;
}
h3 {
	font-size:1.5em;
	line-height:2em;
}
h4 {
	font-size:1.2em;
	line-height:1.25em;
	margin-bottom:1.25em;
}
h5 {
	font-size:1em;
	font-weight:bold;
	margin-bottom:1.5em;
}
h6 {
	font-size:1em;
	font-weight:bold;
}*/
/* --- other elements --- */
p { margin-bottom: .5em; }
/* *** 1.helper styles *** */
/* --- forms --- */
/* --- notifications and errors --- */
/* --- consistent items with mormally jsut one class --- */
/* *** 2.page structure *** */
div#wp {
	margin:0 auto;
	text-align:left;
	width:940px;
}
div#hd {
	background:#FFF url(images/bg-header.gif) repeat-x 0 28px;
	clear:both;
	min-height:151px;
	position:relative;
}
div#hd div#siteslogan {
}
div#sub-nav {
	clear:both;
	font-size: 11px;
	line-height: 23px;
	margin-bottom:19px;
	min-height:23px;
}
div#ct {
	clear:both;
	overflow:auto;
	padding-bottom:3em;
	width:100%;
}
div#pri {
	float:left;
	margin-left:240px;
	width:460px;
	font-size: .9em;
}
div#sec {
	float:left;
	font-size: .9em;
	margin-left:20px;
	width:220px;
}
div#ter {
	float:left;
	font-size: .9em;
	margin-left:-940px;
	width:220px;
}
div#ft {
	background-color:#639523;
	clear:both;
	color:#FCFDFA;
	font-size:.8333em;
	overflow:auto;
	padding:8px 0;
	text-align:center;
	width: 100%;
}
/* *** 3.page components *** */
/* header */
div#hd a, div#hd a:link, div#hd a:hover, div#hd a:visited, div#hd a:focus, div#hd a:active {
	color: #639523;
}
/* mast head */
div #mast {
	bottom:35px;
	height:150px;
	left:0;
	position:absolute;
	width:700px;
}
div#mast img#logo {
	left:-9999px;
	position:absolute;
}
div#mast a {
	background:url("images/green-party-members-site.gif") no-repeat bottom;
	bottom:0;
	height:150px;
	overflow:hidden;
	position:absolute;
	width:437px;
}
div#mast #sitename {
}
/* utility nav */
div#utility-nav {
	font-size: 11px;
	position:absolute;
	right:0;
	text-align:right;
	top:5px;
	width: auto;
}
div#utility-nav a {
	display: block;
	padding: 0 10px;
	width: auto;
}
div#utility-nav h3 {
	display: none;
}
div#utility-nav ul {
	padding: 20px 0 0;
}
div#utility-nav li {
	border-left: 1px solid #d9d9d9;
	float: right;
	line-height: 32px;
	list-style: none;
	margin: 0;
	padding: 0;
}
div#utility-nav li.last {
	border: none;
}
div#utility-nav li.active-trail a, div#utility-nav li.active-trail a:link, div#utility-nav li.active-trail a:hover, div#utility-nav li.active-trail a:visited, div#utility-nav li.active-trail a:focus, div#utility-nav li.active-trail a:active {
	color:#3c6802;
	font-weight: bold;
}
/* main (primary) nav */
div#block-menu-primary-links {
	bottom:7px;
	font-size: 13px;
	margin:0;
	position:absolute;
}
div#block-menu-primary-links a {
	display: block;
	padding: 0 10px;
	width: auto;
}
div#block-menu-primary-links h3 {
	display: none;
}
div#block-menu-primary-links ul {
	padding: 0;
}
div#block-menu-primary-links li {
	border-left: 1px solid #d9d9d9;
	float: left;
	line-height: 26px;
	list-style: none;
	margin: 0;
	padding: 0;
}
div#block-menu-primary-links li.first {
	border: none;
}
div#block-menu-primary-links li.active-trail a, div#block-menu-primary-links li.active-trail a:link, div#block-menu-primary-links li.active-trail a:hover, div#block-menu-primary-links li.active-trail a:visited, div#block-menu-primary-links li.active-trail a:focus, div#block-menu-primary-links li.active-trail a:active {
	color:#3c6802;
	font-weight: bold;
}
/* turn off expanded menus until we turn them off in the theme */
div#block-menu-primary-links ul ul {
	display: none;
}

/* sub navigation */
#block-menu_block-1 { background: #ededed; }
div#sub-nav h3 {
	padding: 0 3em 0 1em;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	background: #3c6802 url(images/bg-subnav-title.png) top right no-repeat;
	color: white;
	-webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
}
div#sub-nav h3 a:link, div#sub-nav h3 a:visited, div#sub-nav h3 a:hover, div#sub-nav h3 a:active { color: white; }
div#sub-nav div.content, div#sub-nav div.content div {
	display: inline-block;
}
div#sub-nav ul {
		height: 23px;
		line-height: 23px;
	display: inline-block;
	padding: 0;
}
div#sub-nav ul li {
	display: inline-block;
	height: 23px;
	line-height: 23px;
	padding-top: 0;
}

/* colorising main and sub navigation */
body#news div#sub-nav h3 { background-color: #f59a24; }
body#news div#block-menu-primary-links li.active-trail a:link, body#news div#block-menu-primary-links li.active-trail a:visited, body#news div#sub-nav ul a { color: #f59a24; }
body#events div#sub-nav h3 { background-color: #d54ca9; }
body#events div#block-menu-primary-links li.active-trail a:link, body#events div#block-menu-primary-links li.active-trail a:visited, body#events div#sub-nav ul a { color: #d54ca9; }
body#resources div#sub-nav h3 { background-color: #e02043; }
body#resources div#block-menu-primary-links li.active-trail a:link, body#resources div#block-menu-primary-links li.active-trail a:visited, body#resources div#sub-nav ul a { color: #e02043; }
body#discussions div#sub-nav h3 { background-color: #9424bb; }
body#discussions div#block-menu-primary-links li.active-trail a:link, body#discussions div#block-menu-primary-links li.active-trail a:visited, body#discussions div#sub-nav ul a { color: #9424bb; }

/* Secondary (footer) links */
#block-menu-secondary-links {  }
#block-menu-secondary-links ul { list-style: none; margin: 0; padding: 0; text-align: center; }
#block-menu-secondary-links li { display: inline-block; margin: 0 .3em; }
#block-menu-secondary-links li a:link, #block-menu-secondary-links li a:visited, #block-menu-secondary-links li a:hover, #block-menu-secondary-links li a:active { color: white; }

/* site search form */
form#search-theme-form {
	position: absolute;
	right: 0;
	top:89px;
	width: 200px;
}
form#search-theme-form label {
	height:1px;
	left:0;
	overflow:hidden;
	position:absolute;
	top:-500em;
	width:1px;
}
input#edit-search-theme-form-1 {
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	margin: 0 6px;
	padding: 0 4px;
	width:137px;
}
form#search-theme-form input#edit-submit-1 {
	background: url(images/bg-btn-go.gif) no-repeat 0 0;
	cursor: pointer;
	border: 0;
	font-size: 0;
	height:20px;
	line-height: 0;
	margin: 0 7px;
	padding: 0;
	overflow: visible;
	text-indent:-9999px;
	width:20px;
}

/* default block style for both sidebars */
.sidebar div.block { margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dotted #d6d6d6; }
.sidebar div.block h3, .sidebar .block-views h3 { display: inline-block; background: #e5e5e5; padding: .4em .8em; font-size: .9em; font-weight: normal; text-transform: uppercase; margin: 0 0 10px 0; }

/* gret fade block style for both sidebars */
.sidebar div.block-greyfade { background:#FFF url(images/bg-block-gradient.gif) no-repeat 0 0; margin-bottom: 10px; padding: 10px; overflow: hidden; border: none; }
.sidebar div.block-greyfade h3 { background: none; padding: 0; text-transform: none; color: #639523; font-size: 17px; font-style: italic; font-weight:normal; line-height: 1; margin-bottom: 0.5em; }
.sidebar div.block-greyfade a.more { background: transparent url(images/bullet-green.gif) no-repeat 3px 8px; display: block; font-weight: bold; line-height: 22px; padding-left: 14px; }
.sidebar div.block-greyfade h4 { text-transform: uppercase; color: #639523; line-height: 1.2em; }

/* specific block styling for banded style */
.sidebar div.block-tagadelic, .sidebar div.block-og, .sidebar div.block-bandheader { background: #EEEDEC; margin: 0 8px 21px; padding: 8px 11px; overflow: visible; border: none; }
.sidebar div.block-tagadelic h3, .sidebar div.block-og h3, .sidebar div.block-bandheader h3 { display: block; background: #639523 url(images/bg-block-heading.gif) no-repeat left bottom; color: #FFF; font-size: 12px; font-style: normal; font-weight: bold; line-height: 13px; margin: 0 -19px 0; padding: 8px 19px 14px; text-transform: uppercase; }
.sidebar div.block-tagadelic h3 a, .sidebar div.block-og h3 a, .sidebar div.block-bandheader h3 a { color: white; }
.sidebar div.block-tagadelic ul, .sidebar div.block-og ul, .sidebar div.block-bandheader ul { margin-bottom: .5em; padding: 0; list-style: none; }
.sidebar div.block-tagadelic li, .sidebar div.block-og li {  background: transparent url(images/bullet-green.gif) no-repeat 3px 4px; padding-left: 18px; list-style: none; margin: 0 0 .25em 0; }
.sidebar div.block-tagadelic a.more, .sidebar div.block-og a.more { background: transparent url(images/bullet-green.gif) no-repeat 3px 8px; display: block; font-weight: bold; line-height: 22px; padding-left: 14px; }
.sidebar div.block-tagadelic a.email, .sidebar div.block-og a.email { color: #666; }
#block-block-3 .content { background: url(images/jargon-acronyms.png) 0 0 no-repeat; padding-left: 80px; } /* Jargon */
#block-block-8 .content { background: url(images/speech-bubbles.png) 0 0 no-repeat; padding-left: 80px; } /* Questions */

/* more links */
div.more-link { text-align: left; }
div.more-link a {
background:url(images/bullet-green.gif) no-repeat scroll 3px 8px transparent;
display:block;
font-weight:bold;
font-size: 11px;
line-height:22px;
padding-left:14px;
}

/* social networking links */
#block-block-11 { margin: none; padding: 0; border: 0; }
#socnet { margin: 0 0 20px 0; border-bottom: 3px solid #EEEDEC; position: relative; padding-left: 70px; }
#socnet div { font-size: 1em; font-weight: normal; height: 50px; overflow: hidden; }
#socnet span.label { width: 65px; display: inline-block; text-transform: uppercase; position: absolute; bottom: 0; left: 0; padding: .5em 0; font-size: 10px; font-weight: bold; }
#socnet a { text-indent: -9999px; background: url(images/icons-socialnetworking.png) 0 0 no-repeat; display: inline-block; height: 50px; width: 50px; }
#socnet a.twitter { background-position: 0 -50px; }
#socnet a.facebook { background-position: 0 -100px; }

/* General node style */
#pri .node { margin-bottom: 16px; padding-bottom: 10px; border-bottom: 1px dotted #d6d6d6; }
#front #pri .node { display: none; }
#pri h2 { font-size: 1.5em; line-height: 1.2em; color: #3c6802; margin: 0 0 1em 0; }
#pri .node span.submitted { margin: .5em 0; font-weight: bold; display: block; font-style: italic; }
#pri .node .content { padding: 1em 0; }
body#news #pri h2, body#news #pri .node a { color: #f58a24; }
body#events #pri h2, body#events #pri .node a { color: #d54ca9; }
body#discussions #pri h2, body#discussions #pri .node a { color: #9424bb; }
body#resources #pri h2, body#resources #pri .node a { color: #e02043; }
body#groups #pri h2, body#groups #pri .node a { color: #008db8; }

#pri .node .meta { margin: 1em 0; padding: 5px 0; border-top: 1px dotted #d6d6d6; border-bottom: 1px dotted #d6d6d6; }
#pri .node .groups { border-top: 1px dotted #d6d6d6; padding: 5px 0; }
#pri .node .links .comment_add { font-weight: bold; font-size: 1.2em; }
#pri .node .links .first { padding-left: 0; }

/* Node attachments */
.node table#attachments { width: 100%; margin: 10px 0; }
.node table#attachments th { padding: .5em 1em; }
.node table#attachments td { padding: 1em; }

/* Forums */
#forum, #forum table { width: 100%; }
#forum th { padding: .5em 1em; vertical-align: baseline; }
#forum td { padding: .5em; vertical-align: top; }
#forum table td.forum { background-position: 7px 7px; padding-left: 30px; }
#forum .links { margin: 1em 0; padding: 5px 0; border-top: 1px dotted #d6d6d6; border-bottom: 1px dotted #d6d6d6; }
#forum .links li.forum { font-weight: bold; font-size: 1.2em; }
#pri #forum a { color: #9424bb; }
#forum td.container { font-weight: bold; border-top: 2px solid #ccc; background-color: #eeedec; }
div#comments div.comment { margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px dotted #D6D6D6; }

/* Views general styles */
.block-views { margin-bottom: 16px; padding-bottom: 10px; border-bottom: 1px dotted #d6d6d6; }
.block-views h3 { background: #e5e5e5; display: inline-block; padding: .4em .8em; font-size: .9em; font-weight: normal; text-transform: uppercase; margin: 0 0 10px 0; }
.block-views .content { clear: both; }
.view .views-table { width: 100%; }
.view .views-table th, .view .views-table td { padding: .5em 1em }

/* Views subheaders */
#block-views-News-block_1 h3 { background: #e5e5e5 url(images/icons-subheaders.png) 5px 0 no-repeat; padding-left: 32px; }
#block-views-Events-block_2 h3 { background: #e5e5e5 url(images/icons-subheaders.png) 5px -60px no-repeat; padding-left: 32px; }
#block-views-Resources-block_1 h3 { background: #e5e5e5 url(images/icons-subheaders.png) 5px -20px no-repeat; padding-left: 32px; }
#block-views-Discussions-block_1 h3 { background: #e5e5e5 url(images/icons-subheaders.png) 5px -40px no-repeat; padding-left: 32px; }

/* Views date blocks */
.view-News .views-field-created, .view-og-tabs-GP.view-display-id-page_2 .views-field-created { background: #f58a24; float: left; margin: 0 15px 6px 0; width: 48px; color: #fcfcfc; font-weight: bold; text-transform: uppercase; }
.view-News .views-field-created .d, .view-og-tabs-GP.view-display-id-page_2 .views-field-created .d { font-size: 31px; line-height: 25px; margin-top: 5px; text-align:center; }
.view-News .views-field-created .m, .view-og-tabs-GP.view-display-id-page_2 .views-field-created .m { font-size: 19px; line-height: 16px; text-align:center; }
.view-News .views-field-created .y, .view-og-tabs-GP.view-display-id-page_2 .views-field-created .y { font-size: 14px; line-height: 12px; margin-bottom: 5px; text-align:center; }

body#news #pri .node .meta { position: relative; background: url(images/bg-dotted.png) 0 0 repeat; padding: 6px 6px 0 6px; margin-bottom: 5px; }
body#news #pri .node .meta .dateblock { background: #f58a24; float: left; margin: 0 15px 6px 0; width: 48px; color: #fcfcfc; font-weight: bold; text-transform: uppercase; }
body#news #pri .node .meta .dateblock .d { font-size: 31px; line-height: 25px; margin-top: 5px; text-align: center; }
body#news #pri .node .meta .dateblock .m { font-size: 19px; line-height: 16px; text-align:center; }
body#news #pri .node .meta .dateblock .y { font-size: 14px; line-height: 12px; margin-bottom: 5px; text-align:center; }

/* News view */
.view-News ul { list-style: none; margin: 0; padding: 0; }
.view-News ul li { margin: 0 0 5px; padding: 5px; list-style: none; }
.view-News .views-row, .view-og-tabs-GP.view-display-id-page_2 { position: relative; background: url(images/bg-dotted.png) 0 0 repeat; padding: 6px 6px 0 6px; margin-bottom: 5px; }
.view-News .views-field-title, .view-og-tabs-GP.view-display-id-page_2 .views-field-title { display: inline-block; width: 380px; vertical-align: top; margin-bottom: 5px; }
.view-News .views-field-teaser, .view-og-tabs-GP.view-display-id-page_2 .views-field-teaser { clear: both; margin: 0 -6px 0 -6px; background: white; padding: 10px 0; overflow: hidden; }
.view-News .views-field-teaser img, .view-og-tabs-GP.view-display-id-page_2 .views-field-teaser img { float: left; margin: 0 10px 10px 0; }

div#pri .view-News a, 
div#pri .view-News a:link,
div#pri .view-News a:visited,
div#pri .view-News a:hover,
div#pri .view-News a:focus,
div#pri .view-News a:active,
.view-og-tabs-GP.view-display-id-page_2 a:link,
.view-og-tabs-GP.view-display-id-page_2 a:visited,
.view-og-tabs-GP.view-display-id-page_2 a:hover,
.view-og-tabs-GP.view-display-id-page_2 a:active { color: #f58a24; }
.view-News .views-field-title, .view-og-tabs-GP.view-display-id-page_2 .views-field-title,
.view-News .views-field-title b, .view-og-tabs-GP.view-display-id-page_2 .views-field-title b,
div#pri .view-News .views-field-title a, .view-og-tabs-GP.view-display-id-page_2 .views-field-title a,
div#pri .view-News .views-field-title a:link, .view-og-tabs-GP.view-display-id-page_2 .views-field-title a:link,
div#pri .view-News .views-field-title a:visited, .view-og-tabs-GP.view-display-id-page_2 .views-field-title a:visited,
div#pri .view-News .views-field-title a:hover, .view-og-tabs-GP.view-display-id-page_2 .views-field-title a:hover,
div#pri .view-News .views-field-title a:focus, .view-og-tabs-GP.view-display-id-page_2 .views-field-title a:focus,
div#pri .view-News .views-field-title a:active, .view-og-tabs-GP.view-display-id-page_2 .views-field-title a:active { color: #333; font-size: 20px; font-weight: normal; line-height: 1.1; }

/* Views Discussions blocks */
.view-Discussions { font-size: 11px; }
.view-Discussions ul { marging-bottom: 0.5em; padding: 0; }
.view-Discussions .views-field-name { font-size: 12px; font-style: italic; }
div#pri .view-Discussions .views-field-name a,
div#pri .view-Discussions .views-field-name a:link,
div#pri .view-Discussions .views-field-name a:visited,
div#pri .view-Discussions .views-field-name a:hover,
div#pri .view-Discussions .views-field-name a:focus,
div#pri .view-Discussions .views-field-name a:active { color: #666; }
div#pri .view-Discussions .views-field-title a,
div#pri .view-Discussions .views-field-title a:link,
div#pri .view-Discussions .views-field-title a:visited,
div#pri .view-Discussions .views-field-title a:hover,
div#pri .view-Discussions .views-field-title a:focus,
div#pri .view-Discussions .views-field-title a:active { color: #8D15B6; font-size: 12px; font-weight: normal; }
div#pri .view-Discussions .views-field-title b { font-weight: normal; }
body#discussions div#pri a,
body#discussions div#pri a:link,
body#discussions div#pri a:visited,
body#discussions div#pri a:hover,
body#discussions div#pri a:focus,
body#discussions div#pri a:active { color: #8D15B6; }

/* Views Resources block */
.view-Resources table { margin-bottom: .5em }
.block .view-Resources td { background: #fcfcfc url(images/bg-diag-stripe.gif) repeat  0 0; border-left: 20px solid #fff; border-right-width: 0; padding: .5em 1em; width: 120px; }
.view-Resources td { background: #fcfcfc url(images/bg-diag-stripe.gif) repeat  0 0; padding: .5em 1em; }
body#resources .view-Resources td { background-image: none; }
.block .view-Resources td.col-1 { border-left: none; }
.view-Resources .views-field-created { font-size: 10px; font-style: italic; font-weight: bold; }
.view-Resources .views-field-title,
.view-Resources .views-field-title b { font-size: 13px; font-weight: 400; line-height: 18px; }

.view-Resources a,
.view-Resources a:link,
.view-Resources a:visited,
.view-Resources a:hover,
.view-Resources a:focus,
.view-Resources a:active { color: #DB0028; }

/* Views Events block */
div#pri .view-Events  a,
div#pri .view-Events  a:link,
div#pri .view-Events  a:visited,
div#pri .view-Events  a:hover,
div#pri .view-Events  a:focus,
div#pri .view-Events  a:active { color: #d54ca9;}
.view-Events table { margin-bottom: .5em }
.view-Events td { padding: .5em 1em; }
.block .view-Events td { border-left: 1px solid #d54ca9; border-right: 20px solid #fff; border-right-width: 0; padding: .5em 1em; width: 120px; }
.block .view-Events td.col-3 { border-right: none; }
div#pri .view-Events .views-field-title,
div#pri .view-Events .views-field-title b { font-weight: normal; font-weight: 13px; line-hieght: 18px; }

/* *** 4.overrides *** */
/* primary content section link colour */
div#pri a, div#pri a:link, div#pri a:hover, div#pri a:visited, div#pri a:focus, div#pri a:active {
	/* color:#dd1035; */
}
/* defult messages */
div.messages { color: white; background: #33c; border: none; padding: 1em; font-style: italic; margin: 0 0 1px 0; }
div.messages a:link, div.messages a:visited { color: white; text-decoration: underline; }
div.error { background: #c00; }
/* tables */
tr.even, tr.odd { background: #fcfcfc; }
thead tr th { background: #f0f0f0; }
tbody tr th, td.active { background: #f6f6f6; }

/* sidebar blocks with banner images */
div#block-block-10  { padding: 0 !important; }
/* drupal system style for ul.primary */
div#pri ul.primary { border-bottom: 0; padding: 0; border-left: 1px solid #d5d5d5; margin: 0 0 10px 0; white-space: normal; }
div#pri ul.primary  li { display: inline-block; margin: 0; }
div#pri ul.primary  li a { font-weight: normal; border: none; background-color: white; border-right: 1px solid #d5d5d5; margin: 0; padding: .2em 1em .2em .8em; display: block; }
div#pri ul.primary  li a.active { color: #3c6802; font-weight: bold; }

div#pri .view-og-tabs-GP.view-display-id-page_3 a:link,
div#pri .view-og-tabs-GP.view-display-id-page_3 a:visited,
div#pri .view-og-tabs-GP.view-display-id-page_3 a:hover,
div#pri .view-og-tabs-GP.view-display-id-page_3 a:active { color: #d54ca9; }
div#pri .view-og-tabs-GP.view-display-id-page_1 a:link,
div#pri .view-og-tabs-GP.view-display-id-page_1 a:visited,
div#pri .view-og-tabs-GP.view-display-id-page_1 a:hover,
div#pri .view-og-tabs-GP.view-display-id-page_1 a:active { color: #e02043; }

/* Views more-links */
.view-Resources .more-link a { background: url(images/bullet-red.gif) no-repeat scroll 4px 9px transparent; }
div#pri .view-Resources .more-link a,
div#pri .view-Resources .more-link a:link,
div#pri .view-Resources .more-link a:visited,
div#pri .view-Resources .more-link a:hover,
div#pri .view-Resources .more-link a:focus,
div#pri .view-Resources .more-link a:active { color: #e02043; }
.view-Discussions .more-link a { background: url(images/bullet-purple.gif) no-repeat scroll 4px 9px transparent; }
div#pri .view-Discussions .more-link a,
div#pri .view-Discussions .more-link a:link,
div#pri .view-Discussions .more-link a:visited,
div#pri .view-Discussions .more-link a:hover,
div#pri .view-Discussions .more-link a:focus,
div#pri .view-Discussions .more-link a:active { color: #e02043; }
.view-Events .more-link a { background: url(images/bullet-pink.gif) no-repeat scroll 4px 10px transparent; }
div#pri .view-Events .more-link a,
div#pri .view-Events .more-link a:link,
div#pri .view-Events .more-link a:visited,
div#pri .view-Events .more-link a:hover,
div#pri .view-Events .more-link a:focus,
div#pri .view-Events .more-link a:active { color: #d54ca9; }
.view-News .more-link a { background: url(images/bullet-orange.gif) no-repeat scroll 4px 9px transparent; }
div#pri .view-News .more-link a,
div#pri .view-News .more-link a:link,
div#pri .view-News .more-link a:visited,
div#pri .view-News .more-link a:hover,
div#pri .view-News .more-link a:focus,
div#pri .view-News .more-link a:active { color: #f58a24; }
